@charset "UTF-8";

.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-account-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 18vh;
  background-color: lightgray;
  width: 450px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.253);
}

#title-form {
  font-size: 2em;
  margin: 20px 0px 0px 20px;
  font-weight: bolder;
}

.p-form {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

.block-name-register {
  display: flex;
}

.container-inputs {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.account-inputs {
  width: 100%;
}

.all-inputs {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  background-color: rgba(228, 228, 228, 0.61);
}

.titles-content {
  display: flex;
  padding: 10px;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  font-size: 0.9em;
  border-bottom: 1px solid rgba(88, 88, 88, 0.233);
}

.p-footer {
  font-size: 0.8em;
  width: 80%;
  align-self: center;
  margin-top: 20px;
  text-align: center;
}

.incorrect-user {
  align-self: center;
}

.button-register {
  background-color: #6dabf1;
  padding: 5px;
  width: 150px;
  border-radius: 10px;
  color: white;
  border: 1px solid rgba(35, 92, 214, 0.349);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 10px;
  align-self: center;
}

.button-register:hover {
  background-color: #5487c2;
  cursor: pointer;
}

#home {
  background-color: rgb(34, 153, 104);
}

@media screen and (max-width: 768px) {

  .new-account-container {
    width: 100vw;
    border-radius: 0px;
    margin-top: 15%;
  }

  .titles-content {

  }
}
