@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: lightgray;
}

.login {
  left: 50%;
  top: 50%;
  position: absolute;
  background-color: white;
  height: 510px;
  width: 250px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
  transition: width 0.5s, heigth 0.5s;
  transition-timing-function: ease;
  transform: translate(-50%, -50%);
  min-height: 350px;
  display: flex;
}

.welcome {
  background-color: #6dabf1;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formulario {
  padding: 7px;
  display: block;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputs {
  font-size: 0.8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: calc(100% - 40px);
  height: 100%;
  border: none;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
}

.inputs:hover {
  cursor: pointer;
}

.material-symbols-outlined {
  width: 40px;
  padding: 7px;
}

.campo {
  background-color: #6dabf1;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  margin: 2px 0px 2px 0px;
  border: 1px solid #3983d8;
  margin-top: 5px;
}

.campo > label {
  display: none;
}

.esen {
  width: 50%;
  height: 40px;
  background-color: #6dabf1;
  color: white;
  border-radius: 10px;
  border: 1px solid #3983d8;
  margin: -15px 5px 0px 5px;
  width: 120px;
}

.esen:hover {
  background-color: #4a85c9;
  cursor: pointer;
}

#title-sign {
  color: rgb(102, 98, 98);
}

#sign {
  background-color: rgb(255, 255, 255);
  color: rgb(102, 98, 98);
  border: 1px solid rgb(83, 83, 83);
}

#sign:hover {
  background-color: rgb(187, 187, 187);
  color: rgb(61, 61, 61);
}

.content-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 1.5em;
  margin: 30px;
  color: rgb(107, 107, 107);
}

#title-welcome {
  color: white;
  margin-top: -5px;
  font-size: 2.2em;
}

.welcome-paragraph {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 260px;
}

.container > p {
  padding: 15px;
}

.incorrect-user {
  color: red;
  padding: 10px;
}

.box-inputs {
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  section.login {
    width: 80vw;
    height: 40vh;
  }

  .formulario {
    width: 50%;
  }

  .title {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 992px) {
  section.login {
    width: 920px;
    height: 45vh;
  }

  .title {
    font-size: 1.7em;
  }

  .formulario > p {
    font-size: 1.3em;
    padding: 10px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .login {
    flex-direction: column;
  }

  .welcome {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    max-height: 40%;
  }

  .title {
    margin-top: 0px;
  }

  #title-welcome {
    margin-bottom: 10px;
  }

  .welcome-paragraph {
    max-width: 200px;
    font-size: 1.2em;
  }

  .formulario {
    width: 100%;
  }

  .esen {
    width: 110px;
    margin: 0px 2px 0px 2px;
  }
}
