@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: white;
    width: 60%;
    margin: auto;
    height: 100vh;
    display: flex;
    border-radius: 50px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.342);
    flex-direction: column;
    padding: 0;
}

.header {
    background-color: #5f249f;
    width: 100%;
    border-radius: 50px 50px 0px 0px;
}

.icon-grid {
    display: flex;
}  

.icon {
    margin: 50px 100px ;
    width: 50px;
    border-radius: 50%;
}

.icon:hover {
    cursor: pointer;
}

#help {
    margin-left: auto;
}

#home-icon {
    transition: 0.5s;
    padding: 7px;
}

#home-icon:hover {
    background-color: #773cb7;
    transition: 0.5s;
}

.header-paragraph {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    margin-left: 9%;
}

.application-body {
    height: 100%;
    background-color: rgba(231, 231, 231, 0.842);
}

.button-container {
    width: 100px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    height: 80px;
    background-color: white;
    border: 1px solid rgba(190, 190, 190, 0.842);
    transition: 0.5s;  
}

.button-container:hover {
    background-color: rgb(211, 211, 211);
    border: 1px solid black;
    transition: 0.5s;
    cursor: pointer;
}

.theme-icon {
    width: 26px;
    margin: 7px;
}

.money-p {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
    font-size: 0.8em;
    font-weight: 700;
}

.container-balance {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.balance-paragraph {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.final-paragraph {
    color: rgb(99, 99, 99);
}

.border-top {
    border-top: 1px solid lightgray;
}

.now-whrap-p {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 400px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(211, 211, 211, 0.842); 
}

.arrow {
    color: lightgray;
    margin: 24px;
    width: 24px;
}

.arrow:hover {
    cursor: pointer;
}


